$vista: flex;
$flujo-flex: row wrap;
$cienpor: 100%;
$seiscien: 600px;
$sesenpor: 60%;
$cuarenpor: 40%;
$uno: 1;
$dos: 2;
$tres: 3;
$ochocien: 800px;
$veintepor: 20%;
$color1: #aaafff;
$color2: #bbbccf;
$color3: #cccaaa;