$color-0: #aaafff;
$color-1: #bbbfff;
$color-2: #ccfffc;
$color-3: #dddfff;
$color-4: #fffaaa;
$ancho1: 100%;
$vista: flex;
$ancho2: 60%;
$ancho3: 40%;
$ancho4: 33.3%;
$ancho5: 50%;
$media1: 600px;
$media2: 800px;
$media3: 1200px;
$auto: auto;
$bordes1: 1px solid black;
$tipo1: large;