$vistaflex: flex;
$row_wrap: row wrap;
$cienpor: 100%;
$veinticinpor: 25%;
$setencinpor: 75%;
$seiscein: 600px;
$ochocien: 800px;
$auto: auto;
$colores_1: #aaabbb;
$colores_2: #bbbaaa;
$colores_3: #cccbbb;
$tama_fuen: 20px;
