* {
    font-size: $tipo1;
}

.container {
    display: $vista;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    border: $bordes1;
}

.columna1, .columna2, .columna3, .columna4, .columna5 {
    width: $ancho1;
    border: $bordes1;
}

// Encontrar el error y el por que no funciona esta opción.
// @for $i from 0 through 5 {
//     .columna#{$i} {
//         background-color: $color-#{$i};
//     }
// }

@each $columna, $color in (
    columna1: $color-0, 
    columna2: $color-1, 
    columna3: $color-2, 
    columna4: $color-3, 
    columna5: $color-4) {
    .#{$columna} {
        background-color: $color;
      }
}